@import "variables.module.scss";

.message{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: $mainColor;
    text-align: center;
    @media screen and (max-width: 768px){
        padding: 5px;
    }
    .messageContainer{
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        padding: 40px 80px;
        overflow: hidden;
        @media screen and (max-width: 768px){
            padding: 10px 30px;
        }
    }
    .messageTitle{
        width: 100%;
        margin: 0 auto;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: $titleSize;
        margin-bottom: 20px;
        @media screen and (max-width: 768px){
            font-size: $titleSizeMedia;
        }
    }
    .messageText{
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
        font-size: $textSize;
        text-align: center;
    }
    .messageBtn{
        width: 380px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 300;
        font-size: $btnSize;
        transition: all linear .4s;
         &:hover{
           transform: scale(1.1);
       }
       @media screen and (max-width: 768px){
        width: 300px;
        height: 60px;
        font-size: $textSize;
        }
    }
}