section{
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #EAEAEA;
    @media screen and (max-width: 768px){
        padding: 5px;
    }
}

ul{
    list-style: none;
    padding: 0;
    li{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px){
            font-size: 20px;
        }
    }
}

p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 10px;
    @media screen and (max-width: 768px){
        font-size: 20px;
    }
}

h3, h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 768px){
        font-size: 48px;
    }
}

//For delivery 
.deliveryImg{
    width: 200px;
    height: 200px;
    background: #C4C4C4;
    border-radius: 50%;
    img{
        display: block;
        width: 90%;
        margin: 0 auto;
        height: 90%;
        object-fit: contain;
        text-align: center;
    }
    @media screen and (max-width: 768px){
        width: 100px;
        height: 100px;
    }
}
.deliveryTitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 768px){
        font-size: 40px;
    }
}


// For example 
.exampleImg{
    min-height: 400px;
    background-color: #fff;
    @media screen and (max-width: 768px){
        min-height: 200px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


// For popupar 
.popularImg{
    min-height: 450px;
    background-color: #fff;
    @media screen and (max-width: 768px){
        min-height: 300px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.popularContent{
    max-width: 400px;
    .popularText{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat';
         font-style: normal;
         .popularTitle{
            font-weight: 400;
            font-size: 26px;
         }
         .popularPrice{
            font-size: 30px;
            font-weight: 500;
            @media screen and (max-width: 768px){
                font-size: 26px;
            }
         }
    }
    button{
        width: 250px;
        margin: 0 auto;
        height: 57px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 36px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        transition: all linear .4s;
        a{
            text-decoration: none;
            color: #ccc;
            transition: all linear .2s;
            &:hover{
                color:black
            }
        }
        &:hover{
            transform: scale(1.1);
        }
        @media screen and (max-width: 768px){
            width: 210px;
            height: 40px;
            font-size: 22px;
            margin-bottom: 5px;
        }
     }
}




// For card of clothes
.kard{
    text-align: center;
    .cardImg{
        width: 330px;
        height: 380px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 36px;
        img{
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    }
}
.cardContent{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    .cardTitle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 26px;
        margin: 5px auto;
    }
    .cardText{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat';
         font-style: normal;
         .cardTitle{
            font-weight: 400;
            font-size: 26px;
         }
         .cardPrice{
            font-size: 30px;
            font-weight: 500;
         }
    }
    button{
        width: 250px;
        margin: 0 auto;
        height: 57px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 36px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        transition: all linear .4s;
        &:hover{
            transform: scale(1.1);
        }
     }
    }


//For questions 
.questions{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: #EAEAEA;
    text-align: center;
    @media screen and (max-width: 768px){
        padding: 5px;
    }
}
.questions-container{
    max-width: 750px;
    margin: 0 auto;
    .questions-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px){
            font-size: 48px;
        }
    }
    
    .questions-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        @media screen and (max-width: 768px){
            font-size: 20px;
        }
    }
}

.questionsBtns{
    display: flex;
    justify-content: space-between;
    .questions-btn{
        width: 320px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        transition: all linear .4s;
         &:hover{
           transform: scale(1.1);
       }
       @media screen and (max-width: 768px){
        width: 210px;
        height: 40px;
        font-size: 22px;
    }
    }
}

//For comments 
.comment-container{
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    @media screen and (max-width: 768px){
        padding: 10px;
    }
}
.comment-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comment-avatar{
        width: 200px;
        height: 200px;
        background: #C4C4C4;
        border-radius: 50%;
        margin-right: 20px;
        img{
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 100%;
            object-fit: contain;
            text-align: center;
        }
    }
    .comment-content{
        width: 80%;
        .comment-name{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
        }
        .comment-email{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
        }
        .comment-text{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
        }
    }
}

.message{
    width: 100%;
    margin: 0 auto;
    background-color: #EAEAEA;
    .message-container{
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        padding: 50px 100px;
    }
    @media screen and (max-width: 768px){
        max-width: 500px;
        padding: 20px;
    }
    .message-title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        margin-bottom: 20px;
        @media screen and (max-width: 768px){
            font-size: 48px;
        }
    }
    .message-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
    }
    .message-btn{
        width: 380px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 2px 4px 27px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        transition: all linear .4s;
         &:hover{
           transform: scale(1.1);
       }
       @media screen and (max-width: 768px){
        width: 240px;
        height: 40px;
        font-size: 22px;
        }
    }
}